適合應用在，有順序大小的資料，EX：問卷調查，滿意度

In [5]:
%matplotlib inline

import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [44]:
df = pd.read_csv("weather.csv")

In [45]:
df

  weather feeling  temperature
0   windy     hot           25
1   sunny     hot           30
2  cloudy    cold           18

# 手動轉換

In [46]:
weather_mapping = {"windy":0, "sunny":1, "cloudy":2}
df["weather"] = df["weather"].map(weather_mapping)

In [47]:
df

   weather feeling  temperature
0        0     hot           25
1        1     hot           30
2        2    cold           18

In [48]:
feeling_mapping = {"hot":0, "cold":1}
df["feeling"] = df["feeling"].map(feeling_mapping)

In [49]:
df

   weather  feeling  temperature
0        0        0           25
1        1        0           30
2        2        1           18

# LabelEncoder

In [51]:
df = pd.read_csv("weather.csv")

In [52]:
df

  weather feeling  temperature
0   windy     hot           25
1   sunny     hot           30
2  cloudy    cold           18

In [53]:
LE = LabelEncoder()
df["weather"] = LE.fit_transform(df["weather"])
df["feeling"] = LE.fit_transform(df["feeling"])
df

   weather  feeling  temperature
0        2        1           25
1        1        1           30
2        0        0           18

# 自動轉換

In [58]:
df = pd.read_csv("weather.csv")

In [59]:
df

  weather feeling  temperature
0   windy     hot           25
1   sunny     hot           30
2  cloudy    cold           18

In [60]:
for col in df.columns:
    df[col] = LE.fit_transform(df[col])
df

   weather  feeling  temperature
0        2        1            1
1        1        1            2
2        0        0            0